*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* esconde o que está fora da delimitação */
    background: linear-gradient(#87ceeb, #e3f6ff);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear; /* a animação dura infinitamente de forma linear*/
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.button{
    width: 200px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* animação do cano*/
@keyframes pipe-animation{
    from{
        right: -80%;/* com essa porcentagem ele inicia fora da tela e torna a animação mais fluída */
    }
    to{
        right: 100%;
    }
}

/* animação pulo do Mario */
@keyframes jump{
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

/* animacao nuvens */
@keyframes clouds-animation{
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}